# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Virtual envs
.venv/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.*

# Logs
logs/
*.log
/data/*.csv
*.html

# Models
*.pt